.mainInfo {
    background: rgba( 12, 0, 50, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 10px;
    margin-top: 10px;
}

.infoCard {
    border-right-style: solid;
}

.customButton {
    display: flex;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    background: rgba(186, 0, 183, 0.5);

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 10px;
}

.customButton:hover {
    background: rgba(167, 0, 164, 0.64);
    box-shadow: 0 8px 50px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
}